.PizzaList {
  .Pizzas {
    margin: 0 -0.5rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Pizza {
    min-height: 12rem;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin: 0.5rem;
    padding: 0;

    .Overlay {
      background: rgba(0, 0, 0, 0.6);
      padding: 0.5rem;
      color: white;
    }

    .FavToggle {
      display: block;
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-size: 1.5rem;
      color: black;

      border: none;
      border-radius: 999px;
      background: white;

      &.fav {
        color: red;
      }
    }
  }

  @media screen and (min-width: 740px) {
    .Pizzas {
      flex-direction: row;
    }

    .Pizza {
      max-width: 20rem;
    }
  }
}
